.h-wrapper{
    /* background: var(--indigo); */
    color: #fff;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}
.h-menu{
    gap:2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}

@media  (max-width: 640px){
    .hero-container{
      margin-top: 2rem;
    }
    .hero-title>h1{
      font-size: 2.5rem;
      line-height: 3rem;
    }
    .image-container{
      width: 95%;
      height: 25rem;
    }
    .stats{
      justify-content: center;
      gap: 1.5rem;
      font-weight: wrap;
    }
    .stat>:nth-child(1){
      font-size: 1.5rem;
    }
    .stat>:nth-child(2)
    {
      font-size: 0.8rem;
    }
  }